{% if navItems %}
	<ul class="nav">
		{% for item in navItems %}
			<li class="nav-item">
				<a href="{{ item.slug }}" class="nav-link fw-bold fs-4 text-white">{{ item.label }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
