<div class=" m-5">
	<div class="row justify-content-center mb-5 gap-4">
	
	
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					CLOUD
				</h3>

				<p class="card-text fs-5 py-4">
					Helping organizations define their roadmap and approach to accelerated cloud adoption – to power the
					transformation and innovation agenda and drive value realization at scale
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					AI & AUTOMATION
				</h3>

				<p class="card-text fs-5 py-4">
					Cutting-edge solutions that reimagine new horizons of possibilities by unlocking data to power
					operational excellence and to launch new business models for today’s aspiring enterprise
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
	</div>

<div class="row justify-content-center mb-5 gap-4">
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					EXPERIENCE, TRANSFORMATION & INNOVATION
				</h3>

				<p class="card-text fs-5 py-4">
					Our Experience, Transformation & Innovation (XTI) practice leverages the latest tools and accelerators to
					support the journey to operational excellence and competitive advantage, while scaling innovative
					approaches to sales and marketing effectiveness
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					CIO ADVISORY
				</h3>
				<p class="card-text fs-5 py-4">
					Helping today’s IT leader to become the innovation and growth enablement hub of the enterprise through
					new technology strategy and adoption and new business model approaches
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
		</div>

<div class="row justify-content-center mb-5 gap-4">
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					ERP & PLATFORMS
				</h3>
				<p class="card-text fs-5 py-4">
					Planning and running large-scale, enterprise-wide transformation programs through cloud-led SAP and
					Oracle innovations to gain competitive advantage in today’s digital ERP world
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>

		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					TALENT & ORGANIZATION
				</h3>
				<p class="card-text fs-5 py-4">
					Helping organizations realize the full potential of their transformation journey by powering the people
					and change agenda with industry-leading tools and accelerators that drive adoption at scale
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
</div>

<div class="row justify-content-center gap-4">
		<div class="card rounded-0 border-0 bg-body-secondary col-12 col-lg-6" style="width: 30rem;">
			<div class="card-body p-5">
				<h3 class="card-title fw-bold text-dark-emphasis">
					CYBERSECURITY
				</h3>
				<p class="card-text fs-5 py-4">
					We possess deep expertise in creating operational resiliency and business readiness programs to ensure
					organizations can operate safely and securely.
				</p>
				<a href="#" class="card-link text-uppercase text-decoration-none">learn more >></a>
			</div>
		</div>
</div>
	</div>
</div>
